{% extends "base.html" %}

{% block content %}
    <h2>O nas</h2>
    <p>Jesteśmy grupą licealistów, którzy chcą dzielić się pasją do przedmiotów ścisłych - właśnie dlatego stworzyliśmy projekt Praktycznie- Fizycznie.
Jego celem jest pokazywanie przedmiotów ścisłych w atrakcyjny sposób.
Zauważyliśmy, że wiele osób ma z nimi trudności lub nie znajduje w nich zainteresowania. Chcemy to zmienić.
Wierzymy, że nauka może być naprawdę ciekawa, gdy wiedza jest przekazywana w odpowiedni sposób.
W naszym projekcie chcemy ją pokazywać  poprzez prowadzenie zajęć w szkołach podstawowych, na których przez doświadczenia, pokazywanie praktycznego zastosowania nauki i prostego tłumaczenia będziemy pokazywać jej piękno.</p>
{% endblock %}
